/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/*common style or utilities*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1150px;
    margin: auto;
    justify-content: center;
    
}
/*home page*/
.home-page{
    background-color: rgb(70, 70, 192);
    width: 100%;
    height: 80vh;
    display: flex;
    
}

.text h1{
    color: whitesmoke;
    font-size: 64px;
    line-height: 80px;
    padding-top: 107px;
}
.hero-btn{
    background-color: #E02C6D;
    width: 105px;
    padding: 8px 18px;
    margin-top: 20px;
    justify-content: space-between;
    display: flex;
    font-family: 'Poppins', sans-serif;
    align-items: center;
}

.hero-btn a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 14px; 
}
.fa-arrow-right.filled{
    color: whitesmoke;
    font-size: 14px;
    font-weight: 400;
}
.home-page img{
    width: 80%;
    position: relative;
    top: 15%;
    left: 30%;
}
/* media query */
@media only screen and (max-width: 688px){
    .home-page{
        flex-direction: column;
        height: 150vh;
        padding-left: 10px;
    }
    .home-page img{
        width: 80%;
        position: relative;
        top: 25%;
        left: 5%;
    }
}
/* player section section start */
.hello{
    background-color: white;
    padding-top: 100px;
    justify-content: center;
   
}
.player{
    height: 450px;
    width: 330px;
    border: 7px white solid;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 2px 0px #888888;
}

.photo-frame img{
    width: 100%;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 35px;
    padding-bottom: 100px;
}
.player-info{
    padding: 15px;
}
/* meadia query */
@media only screen and (max-width: 688px) {
    .players{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        
    }
    
}
/* highlight */
.highlight{
    display: flex;
    justify-content: space-between;
    
   
}
.higlight-text h1{
    font-size: 54px;
    padding-top: 30px;
    
}
.higlight-text p{
    padding-right: 130px;
    text-align: left;
    color: #6C6C6C;
    
    
}
/* media query */
@media only screen and (max-width: 688px){
    .highlight{
        flex-direction: column;
    }
    .higlight-text{
        margin-bottom: 30px;
    }
    .highlight p{
        width: 400px;
        
    }
}
/* footer start here */
footer{
    padding-top: 150px;
    
   
}
.footer-img{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}
.font-awesome{
    text-align: center;
    font-size: 18px;
    padding: 25px;
}
.copyright{
    text-align: center;
    padding-bottom: 30px;
}
/* media query */
@media only screen and (max-width: 688px){
    .end{
       margin-left: -350px;
       
        
    }
}